body{
background: linear-gradient(to left, #00b894, #78fde3 50%, #bdfff2 100%);
  margin: 10%;
}
.App {
  text-align: center;
}

li{
  list-style-type: none;
  text-align: center;
  font-size: 25px;
  border: 2px solid white;
  margin: 10px 160px;
}

button{
  width: 200px;
  height: 200px;
  font-size: 25px;
  font-weight: bolder;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  border-radius: 100%;    
  cursor: pointer;
  box-shadow: 0 9px 5px rgba(0, 0, 0, .6);
}

.challengetitle{
  text-align: center;
}

.btn-large{
  text-align: center;
}